# Ignore node_modules
node_modules

# Ignore build output
.next

# Ignore log files
*.log

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore any other unnecessary files
.git
